<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moody Weather App</title>
</head>
<body>
    <form method="POST">
        <!--Header-->
        <h1>Hello! Welcome to Moody! How are you doing?</h1>
        {% if data.country_code %}
        <h2>Country Code: {{ data.country_code }}</h1>
        {% endif %}
        <!---Mood tracker-->
        <p>The weather today in {{ data.cityname }} is {{ data.temp }} <br>
            How are you feeling today?<br>
            <input type="text" label="mood">
            <input type="submit" value="submit">
        </p>
        <!--History of moods-->

        

    </form>

    
</body>
</html>